<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load data_load %}
    <title>{% block title %}  {% endblock %} </title>
    {% for data in school_details|school|slice:"1" %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'services/media/images/company_info/logo_nKMaIiI.png' %}" rel="icon">
    <link href="{% static 'services/admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'services/admin/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'services/admin/css/ruang-admin.min.css' %}" rel="stylesheet">
    <link href="{% static 'services/admin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard/">
            <div class="sidebar-brand-icon">
            <img src="{% static 'services/media/images/company_info/logo_nKMaIiI.png' %}">
            </div>
            {% comment %} <div class="sidebar-brand-text mx-3">Bright Star School</div> {% endcomment %}
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" href="/">
            <i class="fas fa-globe"></i>
            <span>Website</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#studentBootstrap"
            aria-expanded="true" aria-controls="studentBootstrap">
            <i class="fas fa-graduation-cap"></i>
            <span>School Info</span>
            </a>
            <div id="studentBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/student-registration/">Student Admission</a>
                <a class="collapse-item" href="/quick-admission/">Quick Admission</a>
                <a class="collapse-item" href="/quick-admission-list/">Quick Admission List</a>
                <a class="collapse-item" href="/student-list/">Student List</a>
                <a class="collapse-item" href="/student-photos-list/">Student Photo List</a>
                <a class="collapse-item" href="/student-list/">Teacher List</a>
                <a class="collapse-item" href="/student-photos-list/">Teacher Photo List</a>
                <a class="collapse-item" href="/inactive-student-list/">Inactive Student List</a>
            </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#associations"
            aria-expanded="true" aria-controls="associations">
            <i class="far fa-user"></i>
            <span>Associations Info</span>
            </a>
            <div id="associations" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/employee-registration/">Member Registration</a>
                    <a class="collapse-item" href="/add-class-teacher/">Committee Registration</a>
                    <a class="collapse-item" href="/teacher-list/">Teacher List</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#website"
            aria-expanded="true" aria-controls="website">
            <i class="far fa-user"></i>
            <span>Manage Website</span>
            </a>
            <div id="website" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/employee-registration/">Employee Registration</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#report" aria-expanded="true" aria-controls="collapseBootstrap">
            <i class="fas fa-file"></i>
            <span>Report</span>
            </a>
            <div id="report" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/class-wise-report/">My Subscriptions</a>
                <a class="collapse-item" href="/class-wise-report/">Estimate</a>
            </div>
            </div>
        </li>
        
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">

                    {% comment %} <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 12, 2019</div>
                                <span class="font-weight-bold">A new monthly report is ready to download!</span>
                            </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 7, 2019</div>
                                $290.29 has been deposited into your account!
                            </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 2, 2019</div>
                                Spending Alert: We've noticed unusually high spending for your account.
                            </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <span class="badge badge-warning badge-counter">2</span>
                        </a>
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                            Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="img/man.png" style="max-width: 60px" alt="">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                                having.</div>
                                <div class="small text-gray-500">Udin Cilok · 58m</div>
                            </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="img/girl.png" style="max-width: 60px" alt="">
                                <div class="status-indicator bg-default"></div>
                            </div>
                            <div>
                                <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people
                                say this to all dogs, even if they aren't good...</div>
                                <div class="small text-gray-500">Jaenab · 2w</div>
                            </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li> {% endcomment %}

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="img-profile rounded-circle" src="{% static 'services/admin/img/boy.png' %}" style="max-width: 60px">
                            <span class="ml-2 d-none d-lg-inline text-white small">Admin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            {% comment %} <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Change Password
                            </a> {% endcomment %}
                            {% comment %} <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a> {% endcomment %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                    </div>
                    </li>
                    </ul>
                </nav>
                <!-- Topbar -->
            
                {% block content %}

                {% endblock %}
                
                <!-- Modal Logout -->
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to logout?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                                <a href="/logout/" class="btn btn-primary">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <footer style="padding-left:100px;">
            <p>© Copyright 2020 || Designed and Developed by <a href="#">Sujon, Atiqullah, Mowsumi, Sohrab </a></p>
        </footer> {% endcomment %}
    </div>
    
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

    <script src="{% static 'services/admin/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'services/admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'services/admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'services/admin/js/ruang-admin.min.js' %}"></script>
    <script src="{% static 'services/admin/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'services/admin/js/demo/chart-area-demo.js' %}"></script>  

    <!-- Page level plugins -->
    <script src="{% static 'services/admin/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'services/admin/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Bootstrap Datepicker -->
    <script src="{% static 'services/admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <!-- Bootstrap Touchspin -->
    <script src="{% static 'services/admin/vendor/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js' %}"></script>
    <!-- ClockPicker -->
    <script src="{% static 'services/admin/vendor/clock-picker/clockpicker.js' %}"></script>

    <script src="{% static 'services/admin/vendor/select2/dist/js/select2.min.js' %}"></script>

</body>
{% endfor %}
</html>