{% extends 'services/base.html' %}
{% block title %} Admission Suspension {% endblock %}
{% load static %}
{% block content %}

<div class="single_page_bg"> 
    <!-- Section: inner-header -->
     <section class="inner-header divider layer-overlay overlay-theme-colored-7"  style="background-image: url(/static/school/images/background.png);">
        <div class="container">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-theme-colored2 font-36">Admission Suspension</h1>
                        <ol class="breadcrumb text-left mt-10 white">
                            <li><a href="/">Home</a></li>
                            <li class="active">Admission Suspension</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-7 exam">
                    <img src="https://www.cambrian.edu.bd/fontend-assets/images/fee/adSuspension1.png" alt="Bright Star School and College | Admission Suspension 1" class="img-responsive">

                    <ul class="facilitis text-justify">
                        <li>১. অভ্যন্তরীণ যে কোনো পরীক্ষায় নকল করলে।</li>
                        <li>২. লেখাপড়ার সাথে সম্পৃক্ত নয় এমন কোনো বই, পেনড্রাইভ, মোবাইল, এমপি-৩/৪, ওয়াকম্যান, সিডি, ক্যামেরা, ল্যাপটপ/আইপ্যাডে এডাল্ট মুভি, গান, গল্পের বই, গেমস  ইত্যাদি পাওয়া গেলে বাজেয়াপ্ত হবে। অর্থাৎ এসব জিনিস ফেরত দেওয়া হবে না এবং শাস্তিযোগ্য  অপরাধ বলে গণ্য  হবে।</li>
                        <li>৩. অনুমতি ব্যতীত সর্বোচ্চ তিন দিন কলেজে অনুপস্থিত থাকলে এবং সর্বোচ্চ দুই মাসের কলেজের বেতন / টিউশন ফি, জরিমানা বকেয়া থাকলে।</li>
                        <li>৪. অন্য কোনো ছেলে বা মেয়ের ছবি তুললে, বাসায় ফোন করলে, ফেসবুকে যোগাযোগ করলে, কাউকে হুমকি দিলে।</li>
                        <li>৫. শিক্ষক, কর্মকর্তা, কর্মচারী বা অন্য কোনো শিক্ষার্থীদের সাথে অসৌজন্যমূলক আচরণ করলে ও কলেজের দেয়ালে বা অন্য কোথাও কোনো অশালীন কথা লিখলে।</li>
                        <li>৬. অন্যের বই-খাতা কিংবা অন্য কোনো শিক্ষা উপকরণ না বলে নিয়ে গেলে / চুরি করলে/ ভেঙে ফেললে।</li>
                        <li>৭. বাসা থেকে কলেজের উদ্দেশ্যে বের হয়ে কলেজে অনুপস্থিত থাকলে কিংবা কলেজে ফাঁকি দিয়ে কলেজের ইউনিফর্ম পরে পার্কে / মার্কেটে / অন্য কোথাও ঘোরাফেরা করলে।</li>
                        <li>৮. জরিমানা ফরমে অন্য শিক্ষার্থীর আইডি ও নাম লিখে দিলে, ফাঁকি দিলে।</li>
                        <li>৯. পিতা-মাতা বা আইনানুগ অভিভাবক (ভর্তি ফরমে উল্লিখিত) ব্যতীত অন্য কাউকে অভিভাবক হিসেবে (প্রতারণামূলক) উপস্থাপন করলে।</li>
                        <li>১০. কলেজে যাতায়াতের সময় জোর করে বাস থামানো, কিংবা উপযুক্ত বাস ভাড়া প্রদান না করলে কিংবা পরিবহন কর্তৃপক্ষের সাথে অশোভন আচরণ করলে বা গাড়ি ভাংচুর করলে।</li>
                    </ul><br>
                </div>
                <div class="col-md-5 exam">
                    <img src="https://www.cambrian.edu.bd/fontend-assets/images/fee/adSuspension2.png" alt="Bright Star School and College | Admission Suspension 2" class="img-responsive">
                    <ul class="facilitis text-justify">
                        <li>১. যেসব অপরাধে একবার ভর্তি বাতিল হয়েছে এমন কোনো কাজ ২য় বার করলে সরাসরি টি.সি হবে।</li>
                        <li>২. ধূমপান করলে, ঘুমের ঔষধ খেলে, মাদক / নেশা জাতীয় দ্রব্য সেবন, বহন, হস্তান্তর, ক্রয়-বিক্রয় কিংবা সংরক্ষণ করলে। (ক্যাম্পাসের ভিতরে, হোস্টেলে কিংবা বাইরে)।</li>
                        <li>৩. প্রতিষ্ঠানের কোনো সম্পদ চুরি বা নষ্ট করলে।</li>
                        <li>৪. কলেজ এবং কলেজের বাইরে গ্রুপিং বা মারামারি করলে। যে মারবে তার টিসি হবে এবং অপরজন অপরাধ অনুযায়ী শাস্তি পাবে। তবে উভয়ই মারামারি করলে দু’জনেরই টি.সি হবে।</li>
                        <li>৫. চাকু, ছুরি বা অন্য কোনো বৈধ বা অবৈধ অস্ত্র বহন করলে কিংবা অন্যকে বা নিজের শরীরে অস্ত্র দ্বারা আঘাত করলে এবং দেশের প্রচলিত আইনে কোনো দ-নীয় অপরাধ করলে।</li>
                        <li>৬. বিবাহ বন্ধনে বা আক্দ-এ আবদ্ধ হলে এবং প্রেম-ভালোবাসায় জড়িত হলে।</li>
                        <li>৭. সন্ত্রাসী কিংবা জঙ্গি সংগঠনের সাথে সম্পৃক্ত থাকলে বা থাকার অভিযোগ পাওয়া গেলে।</li>
                    </ul><br>
                </div>
            </div>

            <img src="https://www.cambrian.edu.bd/fontend-assets/images/fee/jorimana.png" alt="Bright Star School and College | Jorimana" class="img-responsive">

            <ul class="facilitis text-justify">
                <li>১. নির্ধারিত শিক্ষা উপকরণ ব্যতীত অন্য কোনো শিক্ষা উপকরণ ক্রয় করতে চাইলে নির্ধারিত মূল্যে ক্রয় করতে পারবে।</li>
                <li>২. প্রতি মাসের ১০ তারিখের মধ্যে কিস্তি পরিশোধ করতে হবে।  বিলম্ব ফি প্রদানের ক্ষেত্রে উক্ত মাসের ১৫ তারিখের পর পরিশোধ করলে প্রতিদিন ৫০/- (পঞ্চাশ) টাকা জরিমানা দিতে হবে। ২ মাসের বেশি বেতন বকেয়া থাকলে ১০,০০০/- (দশ হাজার) টাকা জরিমানা দিয়ে পুনরায় ভর্তি হতে হবে।</li>
                <li>৩. কলেজ থেকে প্রথম বর্ষে টি.সি নিলে বা কলেজ থেকে টি.সি দিলে ভর্তি ফি, শিক্ষা উপকরণ, আনুষঙ্গিক খরচ বাবদ ২৫ হাজার টাকা + ১ম বর্ষের টিউশন ফি পরিশোধ করে টি.সির আবেদন করতে হবে এবং দ্বিতীয় বর্ষে টি.সি নিলে কিংবা কলেজ থেকে টি.সি দিলে সেশন চার্জসহ আনুষঙ্গিক খরচ বাবদ ২০ হাজার টাকা + ১ম বর্ষ (১ম বর্ষের টিউশন ফি বকেয়া থাকলে)  ও ২য় বর্ষের টিউশন ফি পরিশোধ করে টি.সির জন্য আবেদন করতে হবে। টিসির ক্ষেত্রে পূর্বে যে স্কলারশিপ /ডিসকাউন্ট দেয়া হয়েছিল তা প্রযোজ্য হবে না। এককালীন ফি প্রদানের ক্ষেত্রে ১ম বর্ষে টিসি নিলে- ১ম বর্ষের ফি সমন্বয় করে বাকি টাকা ফেরত দেয়া হবে। ২য় বর্ষে টিসি নিলে কোনো টাকা ফেরত দেয়া হবে না।</li>
                <li>৪. বিবাহ বন্ধনে আবদ্ধ হলে ১ম বর্ষের ক্ষেত্রে ১ম বর্ষের টিউশন ফি এবং ২য় বর্ষের ক্ষেত্রে ২য় বর্ষের টিউশন ফি পরিশোধ করে কলেজ থেকে বাধ্যতামূলকভাবে টি.সি নিতে হবে।</li>
                <li>৫. উচ্চ মাধ্যমিক বোর্ড পরীক্ষার ফরম পূরণের পর পরীক্ষায় অংশগ্রহণ না করলে অথবা অংশগ্রহণ করার পর এক বা একাধিক বিষয় পরীক্ষায় অনুপস্থিত থাকলে পরবর্তীতে লেখাপড়ার ক্ষেত্রে পূর্বের স্কলারশিপ প্রাপ্ত টিউশনসহ পরবর্তী এক বছরের টিউশন ফি প্রদান করতে হবে।</li>
                <li>৬. কলেজের পরিবহণ সার্ভিস ব্যবহার করলে পরিবহণের সকল নিয়ম-কানুন যথাযথভাবে পালন করতে হবে।</li>
                <li>৭. হোস্টেলে অবস্থান করে লেখাপড়া করলে হোস্টেল সংক্রান্ত যাবতীয় বিধি-বিধান মেনে চলতে হবে।</li>
                <li>৮. বিএসবি ফাউন্ডেশন ও ব্রাইট ষ্টার বর্তমান ও ভবিষ্যতে প্রবর্তিত সকল নিয়ম কানুন মেনে চলতে হবে।</li>
                <li>৯. দেশে বা দেশের বাহিরে স্কাউট, ডিবেট, কালচারাল বা অন্যকোনো প্রোগ্রামে যেতে চাইলে যাবতীয় খরচ অভিভাবক বহন করবে, প্রতিষ্ঠান নয়। এক্ষেত্রে ব্যক্তিগত পুরস্কার বা অর্থ শিক্ষার্থী নিজে পাবে।</li>
                <li>১০. এই ফরমে নেই এমন কোনো সমস্যার সৃষ্টি হলে প্রাতিষ্ঠানিক নিয়ম অনুযায়ী বা প্রচলিত আইন অনুযায়ী সমাধান করা হবে।</li>
            </ul>
        </div>
    </section>
</div>

{% endblock %} 