{% extends 'services/base.html' %}
{% block title %} Management Committee  {% endblock %}
{% load static %}
{% block content %}
<style>
    body{
        background:#DCDCDC;
        margin-top:20px;
    }
    .card-box {
        padding: 20px;
        border-radius: 3px;
        margin-bottom: 30px;
        background-color: #fff;
    }
    
    .social-links li a {
        border-radius: 50%;
        color: rgba(121, 121, 121, .8);
        display: inline-block;
        height: 30px;
        line-height: 27px;
        border: 2px solid rgba(121, 121, 121, .5);
        text-align: center;
        width: 30px
    }
    
    .social-links li a:hover {
        color: #797979;
        border: 2px solid #797979
    }
    .thumb-lg {
        height: 88px;
        width: 88px;
    }
    .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }
    .text-pink {
        color: #ff679b!important;
    }
    .btn-rounded {
        border-radius: 2em;
    }
    .text-muted {
        color: #98a6ad!important;
    }
    h4 {
        line-height: 22px;
        font-size: 18px;
    }
</style>

<div class="single_page_bg">
    <!-- Section: inner-header -->
     <section class="inner-header divider layer-overlay overlay-theme-colored-7"  style="background-image: url(/static/school/images/background.png);">
        <div class="container">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-theme-colored2 font-36">Management Committee</h1>
                        <ol class="breadcrumb text-left mt-10 white">
                            <li><a href="/">Home</a></li>
                            <li class="active">Management Committee</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    {% comment %} <section>
        <div class="container">
            <div class="row">
                {% for data in committee_list %}
                    <div class="col-sm-6">
                        <div class="teachers_profile">
                            <div class="teachers_image">
                                <img src="/static/school/media/{{ data.member_image}}" alt="">
                            </div>
                            <div class="profile_info">
                                <h3>{{ data.member_name}}</h3>
                                <p><strong>Designation : </strong>{{ data.designation}}</p>
                                <p><strong>Qualification : </strong>{{ data.qualification}}</p>
                                <p><strong>Email : </strong>{{ data.email}}</p>
                                <p> 
                                    <a href="" class="btn btn-info">View Profile</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section> {% endcomment %}
    {% comment %} <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> {% endcomment %}
    <section> 
        <div class="container"> 
            <!-- end row -->
            <div class="row">
                {% for data in committee_list %}
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="">
                                    <h4>{{data.member_name}}</h4>
                                    <p class="text-muted"><span></span><span><a href="#" class="text-pink">{{data.designation}}</a></span></p>
                                </div>
                                <ul class="social-links list-inline">
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                </ul>
                                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                                <div class="mt-4">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="mt-3">
                                                <h4>2563</h4>
                                                <p class="mb-0 text-muted">Wallets Balance</p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="mt-3">
                                                <h4>6952</h4>
                                                <p class="mb-0 text-muted">Income amounts</p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="mt-3">
                                                <h4>1125</h4>
                                                <p class="mb-0 text-muted">Total Transactions</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <!-- end row -->
            {% comment %} <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <ul class="pagination pagination-split mt-0 float-right">
                            <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only">Previous</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only">Next</span></a></li>
                        </ul>
                    </div>
                </div>
            </div> {% endcomment %}
            <!-- end row -->
        </div> 
    </section>
</div>

{% endblock %} 