{% extends 'services/base.html' %}
{% block title %} Exam Regulation {% endblock %}
{% load static %}
{% block content %}

<div class="single_page_bg">
    <!-- Section: inner-header -->
     <section class="inner-header divider layer-overlay overlay-theme-colored-7"  style="background-image: url(/static/school/images/background.png);">
        <div class="container">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-theme-colored2 font-36">Exam Regulation</h1>
                        <ol class="breadcrumb text-left mt-10 white">
                            <li><a href="/">Home</a></li>
                            <li class="active">Exam Regulation</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">

            <div class="col-md-6 exam">
                <button type="button" class="exam_btn">সাপ্তাহিক পরীক্ষা</button>

                <ul class="facilitis">
                    <li>১. প্রতি শনিবার তিনটি বিষয়ের সাপ্তাহিক পরীক্ষা অনুষ্ঠিত হয়।</li>
                    <li>২. কোনো কারণে শনিবার কলেজ বন্ধ থাকলে সেক্ষেত্রে পরবর্তী কার্যদিবসে সাপ্তাহিক পরীক্ষা অনুষ্ঠিত হয়।</li>
                    <li>৩. সাপ্তাহিক পরীক্ষার পূর্ণমান প্রতি বিষয় ২৫ নম্বর এবং সময় ১ঘণ্টা।</li>
                    <li>৪. সাপ্তাহিক পরীক্ষার পাস নম্বর ৫০% ।</li>
                </ul><br>

                <button type="button" class="exam_btn">বার্ষিক পরীক্ষা</button>
                <ul class="facilitis">
                    <li>১. পূর্ণ সিলেবাসের উপর একটি বোর্ডমানের বার্ষিক পরীক্ষা অনুষ্ঠিত হয়। এ পরীক্ষায় কোনো শিক্ষার্থী অনুপস্থিত থাকলে কিংবা ৪০% এর কম নম্বর পেলে তাকে পরবর্তী শ্রেণিতে প্রমোশন দেওয়া হবে না।</li>
                    <li>২. পরীক্ষার জন্য আলাদা কোনো ফি নেয়া হয় না। তবে টার্ম বা বার্ষিক পরীক্ষার আগে সমুদয় বকেয়া টিউশন ফি ও জরিমানা  (যদি থাকে) পরিশোধ সাপেক্ষে প্রবেশপত্র সংগ্রহ করতে হবে। প্রবেশপত্র ব্যতীত কেউ পরীক্ষায় অংশগ্রহণ করতে পারবে না।</li>
                    <li>৩. বার্ষিক পরীক্ষার পর অভিভাবকদের উপস্থিতিতে ফল প্রকাশ করা হয়। অভিভাবক দিবসে পিতা-মাতা উভয়ই উপস্থিত থাকতে হবে। পিতামাতা (যদি জীবিত থাকেন) ব্যতীত কোনো শিক্ষার্থীর ফলাফল প্রকাশ করা হবে না।</li>
                </ul>
            </div>
            <div class="col-md-6 exam">
                <button type="button" class="exam_btn">টার্ম পরীক্ষা</button>
                <ul class="facilitis">
                    <li>১. প্রতিটি বার্ষিক পরীক্ষার পূর্বে মোট দুটি টার্ম পরীক্ষা অনুষ্ঠিত হয়।</li>
                    <li>২. টার্ম পরীক্ষার পূর্ণমান প্রতি বিষয়ে ১০০ এবং সময় ৩ ঘণ্টা।</li>
                    <li>৩. সাপ্তাহিক পরীক্ষায় প্রাপ্তনম্বর টার্ম পরীক্ষায় যোগ করা হয়।</li>
                    <li>৪. টার্ম পরীক্ষার ফলাফলের ভিত্তিতে শিক্ষার্থীদের সেকশন পরিবর্তন করা হয়।</li>
                    <li>৫. টার্ম পরীক্ষায় পাস নম্বর ৪০%।</li>
                </ul><br>

                <button type="button" class="exam_btn">অন্যান্য</button>
                <ul class="facilitis">
                    <li>১.  কলেজের একাডেমিক ক্যালেন্ডার অনুযায়ী প্রতিটি পরীক্ষা অনুষ্ঠিত হবে।</li>
                    <li>২. পরীক্ষার সময় কলম, পেন্সিল, ক্যালকুলেটর, ইরেজার, স্কেল নিয়ে আসতে হবে। অন্যের কাছে এসব উপকরণ ধার নেয়া বা দেওয়া যাবে না।</li>
                    <li>৩.প্রত্যেক পরীক্ষায় অংশগ্রহণ বাধ্যতামূলক। অসুস্থ থাকলে ঝরপশ নবফ-এ পরীক্ষা দিতে হবে।</li>
                    <li>৪. পরীক্ষায় অসদুপায় (নকল করা, খাতা বদল করা, বেঞ্চে লেখা, সাপ্তাহিক পরীক্ষার খাতায় বাসা থেকে লিখে আনা) অবলম্বন করলে তাৎক্ষণিকভাবে কলেজ ও হোস্টেল থেকে বহিষ্কার করা হবে।</li>
                </ul>
            </div>
        </div>
    </section>
</div>

{% endblock %} 